
/* Common styles */

h1{
    margin: 0 0 1em 0;
    font-family: var(--spec-font);
    color: var(--skin-yellow-100);
    font-size: 2.5em;
    border-bottom: 3px solid var(--skin-orange-100);
    letter-spacing: 0.1em;
}

h2{
    margin: 0 0 0.2em 0;
    font-family: var(--spec-font);
    color: var(--skin-yellow-100);
    font-size: 2em;
    letter-spacing: 0.1em;
}

h3{
    margin: 0 0 0.2em 0;
    font-family: var(--spec-font);
    color: var(--skin-yellow-100);
    font-size: 1.5em;
    letter-spacing: 0.06em;
}

ul{
    list-style: none;
    text-decoration: none;
}

/* Paragraph */

.paragraph b{
    color: var(--skin-yellow-100);
}
.paragraph p a, .skill-description a{
    color: var(--skin-yellow-50);
}
.paragraph ul{
    list-style: circle;
}
.paragraph li{
    margin-bottom: 0.4em;
}
.paragraph em, .skill-description em{
    color: var(--skin-yellow-50);
}



/* Page styles */

*{
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    color: var(--text-main);
    background: var(--bg-50);
}

.main-container{
    width: 100%;
    min-height: 100vh;
}

.back-btns{
    position: fixed;
    top: 40px;
    right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.back-btns a{
    padding: 0.8em;
    margin: 0.4em;
    border-radius: 1em;
    color: var(--text-oposite);
    background-color: var(--skin-yellow-50);
    transition: 0.4s;
}
.back-btns a:hover{
    background-color: var(--skin-yellow-100);
}
.back-btns a i{
    margin-right: 0.6em;
}

/* Content styles */

.content{
    margin-top: 30px;
    padding: 0 2.5em 0 2.5em;
}

.project-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    background-color: var(--bg-100);
    border-radius: 1em;
}

.project-info .project-links{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.project-links .link{
    color: var(--text-main);
    font-size: 1.1em;
    cursor: pointer;
}
.project-links .link:hover{
    color: var(--skin-style-2);
}
.project-links .link i{
    margin-right: 0.4em;
}

.project-info .motivation{
    width: 100%;
}

.project-info .abstract{
    width: 100%;
}

.content-text{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.content-image{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content-image img{
    max-width: 80%;
    max-height: 60vh;
}

.content-image table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}
.content-image caption {
    caption-side: top;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.content-image th{
    color: var(--text-oposite);
}
.content-image th, td {
    border: 1px solid var(--text-oposite);
    padding: 6px 8px;
}
.content-image th {
    background-color: var(--skin-style-2);
}
.content-image tbody tr:nth-child(even) {
    background-color: var(--text-grey);
}
.content-image tbody tr:hover {
    background-color: var(--bg-50);
}


@media only screen and (max-width: 1199px){
    .back-btns{
        top: 40px;
        right: 80px;
    }
}