
.projects{
    padding-top: 40px;
}

.cert{
    margin: 0.5em;
}

.large-projects{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.large-projects h2{
    color: var(--skin-yellow-100);
    margin-top: 0.4em;
    margin-bottom: 0em;
}
.large-projects .project-cards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    overflow: auto;
}
.large-projects .project-cards .card{
    position: relative;
    width: 300px;
    height: 400px;
    display: block;
    margin-right: 1em;
    margin-bottom: 1em;
    border: 2px solid var(--skin-orange-100);
    border-radius: 1em;
    cursor: pointer;
}
.large-projects .project-cards .card:nth-child(1){
    transition-delay: 200ms;
}

.card .card-text{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: var(--skin-yellow-50);
    border-radius: 1em;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}
.card-text:hover{
    opacity: 1;
}
.card-content:hover + .card-text{
    opacity: 1;
}
.card .card-text h3{
    font-size: 1.2em;
    width: 100%;
    padding: 0.8em 0.8em 0 0.8em;
    margin: 0;
    color: var(--text-oposite);
    border-bottom: none;
}
.card .card-text p{
    padding: 0.8em;
    margin: 0;
    color: var(--text-oposite);
}
.card .card-content{
    background-color: var(--bg-100);
    border-radius: 1em;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.card .card-content .image{
    height: 80%;
    width: 100%;
}
.card .card-content .image img{
    width: 100%;
    height: 100%;
    border-radius: 1em 1em 0 0;
}
.card .card-content .card-label{
    height: 20%;
    margin: 0;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--skin-orange-100);
    border-radius: 0 0 1em 1em;
}
.project-cards .card .card-content .card-label h3{
    padding: 0;
    margin: 0;
    color: var(--skin-yellow-100);
    text-align: center;
}

.small-projects{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
}
.small-projects h2{
    color: var(--skin-yellow-100);
    margin-top: 0.4em;
    margin-bottom: 0em;
}

.sp-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 350px;
    padding-bottom: 0.6em;
}

.sp-scroll{
    width: 25%;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    border: 0.1em solid var(--skin-yellow-50);
    border-radius: 1em;
    overflow: auto;
}
.sp-scroll .sp-item{
    width: 100%;
    padding: 0;
    border-bottom: 0.1em solid var(--text-grey);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.sp-scroll .sp-item:hover{
    background-color: var(--skin-yellow-50);
}
.sp-scroll .selected-item{
    background-color: var(--skin-yellow-100);
    color: var(--text-oposite);
}

.sp-scroll .sp-item p{
    padding: 0.2em 1em;
    margin: 0;
    word-wrap: break-word;
}

.project-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.project-header h4{
    width: 70%;
    padding-right: 1em;
    margin: 0;
}
.project-header .link{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.project-header .link a{
    color: var(--text-main);
    font-size: 16px;
    text-decoration: underline;
}
.project-header .link a:hover{
    color: var(--skin-yellow-50);
}
.project-header .link i{
    padding-right: 0.4em;
}


.sp-text{
    width: 100%;
    height: 100%;
    padding-left: 1.6em;
}
.sp-container .hidden{
    display: none;
}
.sp-text p{
    margin: 0;
}