
/* import component styles */
@import 'common.css';
@import 'social_icons.css';

@import 'home.css';
@import 'about.css';
@import 'projects.css';
@import 'contact.css';
@import 'theme-switch.css';

/* GENERAL STYLES */


.font-bebas {
  font-family: var(--spec-font);
  font-weight: 400;
  font-style: normal;
}


*{
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    color: var(--text-main);
    background: linear-gradient(to bottom right, var(--bg-100) 20%, var(--bg-50));
}


::before,::after{
    box-sizing: border-box;
}

/* Loading screen */

.loading-container{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 33vh;
    background-color: var(--bg-100);
    z-index: 999;
}
.loaded{
    animation: fadeOut 1s forwards;
}
@keyframes fadeOut {
    from {
        display: block;
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
    }
}
.progress-bar {
    position: relative;
    width: 50%;
    height: 20px;
    background: var(--text-grey);
    border-radius: 5px;
    overflow: hidden;
    margin: 0px auto;
}
.progress-bar-inner {
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, var(--skin-yellow-100), var(--skin-yellow-50));
    animation: progress 5s linear forwards;
}
@keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.center-center{
    align-items: center;
    justify-content: center;
}
.loading-text {
    font-family: var(--spec-font);
    letter-spacing: 3px;
    font-size: 34px;
    color: var(--skin-red-50);
    margin-bottom: 10px;
}
.dots {
    width: 2rem;
    text-align: start;
    letter-spacing: 5px;
    font-family: var(--spec-font);
    font-size: 34px;
    color: var(--skin-red-50);
    margin-bottom: 10px;
    display: inline-block;
}
@keyframes dots {
    0% { content: '.'; }
    33% { content: '..'; }
    66% { content: '...'; }
}
.center-left{
    align-items: center;
    justify-content: start;
    margin-left: 25%;
}
.rotating-text {
    color: var(--text-grey);
    font-size: 18px;
    margin-top: 10px;
    height: 20px;
}

/* LOGO */

.logo img{
    width: 180px;
    height: 180px;
    padding: 0;
    margin: 0;
}
.logo img:first-child{
    display: none;
}
.lightmode .logo img:first-child{
    display: block;
}
.lightmode .logo img:last-child{
    display: none;
}


/* aside container */

.aside{
    width: 270px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 10;
    background: var(--bg-100);
    border-right: 3px solid var(--skin-orange-100);
    transition: none;
}
.aside .nav ul{
    padding: 0;
    margin-bottom: 40px;
}
.aside .nav ul li{
    padding: 0 16px 8px 16px;
    margin-top: 40px;
    color: var(--text-main);
    border-bottom: 2px solid var(--text-grey);
    font-size: 1.8em;
    cursor: pointer;
}
.aside .nav ul li:hover{
    color: var(--skin-yellow-50);
    border-bottom: 2px solid var(--skin-orange-100);
    transition: 0.4s;
}
.aside .nav ul .clicked{
    color: var(--skin-yellow-100);
    border-bottom: 2px solid var(--skin-orange-100);
}
.aside .nav ul li i{
    margin-right: 14px;
}

.menu{
    position: fixed;
    left: 60px;
    top: 60px;
    z-index: 2;
}
.menu button{
    display: none;
    font-size: 35px;
    padding: 8px;
    background: transparent;
    border: none;
    color: var(--text-main);
}

.hide-menu{
    display: none;
    justify-content: end;
    width: 100%;
}
.hide-menu button{
    font-size: 35px;
    padding: 10px;
    background: transparent;
    border: none;
    color: var(--text-main);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer p{
    color: var(--text-grey);
    margin: none;
}

/* main content */

.main-container{
    width: 100%;
    min-height: 100vh;
}

.main-content{
    padding-left: 270px; /* This is aside size */
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: auto;
    padding-top: 30%;
}

.container-start{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: auto;
}

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sections-container{
    position: relative;
    overflow: hidden;
}

.section{
    height: 100vh;
    display: block;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    position: absolute;

    opacity: 0;
    transform:  translateX(100%);
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out, visibility 0s 0.8s;
}
.section.active{
    position: relative;
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}


/* RESPONSIVE STYLES */

@media only screen and (max-width: 1199px){

    .aside .nav{
        margin-top: 20px;
    }
    .footer{
        margin-top: 20%;
    }

    .aside{
        left: -270px;
        transition: 0.5s;
    }
    .aside-open{
        left: 0;
    }
    .section{
        padding-top: 120px;
    }
    .main-content{
        padding-left: 0;
    }
    .menu button{
        display: block;
    }
    .hide-menu{
        display: flex;
    }
    .text-container{
        width: 90%;
    }

    /* Projects */

    .sp-scroll{
        width: 4em;
        max-height: 600px;
    }
    .sp-scroll .sp-item{
        writing-mode: vertical-lr;
        transform: scale(-1, -1);
        display: flex;
        align-items: center;
    }
    .sp-scroll .sp-item p{
        padding: 1em;
        text-wrap: nowrap;
    }

    /* Contact */
    .contact-container{
        padding-bottom: 120px;
    }
}


@media only screen and (max-width: 991px){

}


@media only screen and (max-width: 767px){

    h2, h3, h4{
        width: auto;
    }

    .aside .nav{
        margin-top: 0;
    }

    /* Projects */

    .large-projects .project-cards{
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .project-header h4{
        padding-right: 0.5em;
    }

    /* About */

    .skills-content{
        flex-direction: column;
        align-items: center;
    }
    .skills-container{
        width: 100%;
    }

    .education-timeline{
        flex-direction: row;
        margin: 0 0 0 3em;
    }
    .education-timeline::before{
        content: '';
        width: 4px;
        height: 98%;
        top: 0;
        left: -3em;
        animation: moveline-vertical 4s linear forwards;
    }
    .education-cards{
        flex-direction: column;
    }
    .education-timeline .education-container{
        width: 100%;
        margin-bottom: 7em;
    }

    .education-container img{
        top: 1em;
        left: -4.8em;
    }

    .education-container .date{
        writing-mode: vertical-lr;
        text-wrap: nowrap;
        transform: scale(-1,-1);
        left: -2.5em;
        top: 75px;
    }

    .education-container .arrow{
        top: 25px;
        left: -30px;
        border-right: 15px solid var(--skin-orange-100);
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }

    .progress-bar{
        width: 70%;
    }
    .center-left{
        margin-left: 15%;
    }
}

@media only screen and (max-height: 700px){
    .logo img{
        display: none;
    }
    .lightmode .logo img:first-child{
        display: none;
    }
    .progress-bar{
        width: 80%;
    }
    .center-left{
        margin-left: 10%;
    }
}

@media(prefers-reduce-motion){
    .hidden{
        transition: none;
    }
}

/* ANIMATIONS */

@keyframes showAside{
    100%{left: 0;}
}


/* END OF FILE */
