
/* import component styles */
@import 'common.css';
@import 'social_icons.css';

@import 'home.css';
@import 'about.css';
@import 'projects.css';
@import 'contact.css';

/* GENERAL STYLES */

:root{
    --bg-black-900:#191919;
    --bg-black-100:#1c1c1c;
    --bg-black-50: #403f41;
    --text-white-900: #ffffff;
    --text-grey-100: #7b7a857a;
    --skin-style-1: #ffd400;
    --skin-style-2: #ecd561;
    --skin-style-3: #D7263D;
}

/*
    --bg-black-900:#0D1317;
    --bg-black-100:#101D42;
    --bg-black-50: #112666;
    --text-white-900: #ffffff;
    --text-white-700: #b2afdd;
    --text-grey-100: #7b7a857a;
    --skin-style-1: #D7263D;
    --skin-style-2: #cc4b5c;
*/


*{
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    color: var(--text-white-900);
    background: var(--bg-black-50);
}

::before,::after{
    box-sizing: border-box;
}

/* LOGO */

.logo img{
    width: 180px;
    padding: 0;
    margin: 0;
}

/* aside container */

.aside{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 10;
    justify-content: start;
    border-right: 2px solid var(--bg-black-900);
    transition: none;
}
.aside .nav{
    margin-top: 40px;
}
.aside .nav ul{
    padding: 0;
}
.aside .nav ul li{
    padding: 0 16px 8px 16px;
    margin-top: 40px;
    color: var(--text-white-900);
    border-bottom: 1px solid var(--text-grey-100);
    font-size: 20px;
    cursor: pointer;
}
.aside .nav ul li:hover{
    color: var(--skin-style-2);
    border-bottom: 1px solid var(--skin-style-2);
    transition: 0.4s;
}
.aside .nav ul .clicked{
    color: var(--skin-style-1);
    border-bottom: 1px solid var(--skin-style-1);
}
.aside .nav ul li i{
    margin-right: 14px;
}

.menu{
    position: fixed;
    left: 60px;
    top: 60px;
    z-index: 2;
}
.menu button{
    display: none;
    font-size: 35px;
    padding: 8px;
    background: transparent;
    border: none;
    color: var(--text-white-900);
}

.hide-menu{
    display: none;
    justify-content: end;
    width: 100%;
}
.hide-menu button{
    font-size: 35px;
    padding: 10px;
    background: transparent;
    border: none;
    color: var(--text-white-900);
}

.footer{
    margin-top: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer p{
    color: var(--text-grey-100);
    margin: none;
}

/* main content */

.main-container{
    width: 100%;
    min-height: 100vh;
}

.main-content{
    padding-left: 270px;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container-start{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: auto;
}

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section{
    height: 100vh;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 1;
}
.hidden{
    display: none !important;
}

.text-container{
    height: fit-content;
    width: 50%;
    background-color: var(--bg-black-100);
    padding: 0.1em 1em;
    margin: 0.6em;
    border-radius: 1em;
    align-items: start;
}
.text-container h2{
    margin-bottom: 0;
}
.text-container-wider{
    height: fit-content;
    width: 100%;
    background-color: var(--bg-black-100);
    padding: 0.1em 1em;
    margin: 0.6em;
    border-radius: 1em;
    align-items: start;
}


/* RESPONSIVE STYLES */

@media only screen and (max-width: 1199px){
    .aside{
        left: -270px;
        transition: 0.5s;
    }
    .aside-open{
        left: 0;
    }
    .section{
        padding-top: 120px;
    }
    .main-content{
        padding-left: 0;
    }
    .menu button{
        display: block;
    }
    .hide-menu{
        display: flex;
    }
    .text-container{
        width: 90%;
    }
}


@media only screen and (max-width: 991px){

}


@media only screen and (max-width: 767px){

}

/* ANIMATIONS */

@keyframes showAside{
    100%{left: 0;}
}


/* END OF FILE */
